
.complex.openbucks-payment-section .heading {
    background: url("images/openbucks-logo.png") no-repeat 0 50% / 18rem auto;
    padding-left: 20rem;
}
.section-config.with-button .config-heading strong .heading-intro {
    font-weight: normal;
}

.complex.openbucks-payment-section .button-container {
    float: right;
}

.complex.openbucks-payment-section .openbucks-payment-byline {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.openbucks-payment-section .config-alt {
    background: url("images/obx_cvs_dg_44.png") no-repeat scroll 0 0 / 37% auto;
    height: 28px;
    margin: 0.5rem 0 0;
    width: 230px;
}

.simplepath-wrapper-set.active .admin__collapsible-block { display:none; }
.openbucks-payment-section.section-config.active > .admin__collapsible-block + input + fieldset { margin-left: 40px; }
